{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container">
    <table>
        <h1>From</h1>
        {% for mess in message_from %}
        
            <tr>
                <td>{{mess.from_user}}  </td>
                <td>{{mess.text}}</td>
            </tr>
        
        {% endfor %}
        <h1>To</h1>
        {% for mess in message_to %}
        
            <tr>
                <td>{{mess.from_user}}  </td>
                <td>{{mess.text}}</td>
            </tr>
        
        {% endfor %}
    </table>
</div>

{% endblock content %}